<!DOCTYPE html>
<html>
<head>
	<title>gulpfile generator</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/acms.css">
	<link rel="stylesheet" type="text/css" href="css/prism.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<script type="text/template" id="form">
<div class="acms-col-6">
	<div class="acms-tabs">
		<ul class="js-acms_tabs">
			<li><a href="#" class="js-acms_tab <!-- BEGIN mode:touch#css -->js-acms_tab-active<!-- END mode:touch#css -->" data-action="changeMode(css)">css</a></li>
			<li><a href="#" class="js-acms_tab <!-- BEGIN mode:touch#js -->js-acms_tab-active<!-- END mode:touch#js -->" data-action="changeMode(js)">js</a></li>
			<li><a href="#" class="js-acms_tab <!-- BEGIN mode:touch#html -->js-acms_tab-active<!-- END mode:touch#html -->" data-action="changeMode(html)">html</a></li>
			<li><a href="#" class="js-acms_tab <!-- BEGIN mode:touch#other -->js-acms_tab-active<!-- END mode:touch#other -->" data-action="changeMode(other)">その他</a></li>
		</ul>
		<!-- BEGIN mode:touch#css -->
		<div class="acms-tabs-panel">
			<h2>CSS</h2>
			<p>
				<label>
					CSS（またはプロプロセッサ）のソースの場所
					<input type="text" data-bind="cssSrc" data-action="refreshSource()">
				</label>
			</p>
			<p>
				<label>
					CSSの書き出しの場所
					<input type="text" data-bind="cssDest" data-action="refreshSource()">
				</label>
			</p>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useCssLint" value="true" data-action="refresh()">
					<i class="acms-ico-checkbox"></i>
					CSSの構文をチェックする
				</label>
			</p>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="usePreprocessor" value="true" data-action="refresh()">
					<i class="acms-ico-checkbox"></i>
					プリプロセッサーを使用する
				</label>
			</p>
			<!-- BEGIN usePreprocessor:veil -->
			<select data-bind="cssPreprocessor" data-action="refresh()">
				<option value="sass">sass</option>
				<option value="less">less</option>
				<option value="stylus">stylus</option>
			</select>
			<!-- END usePreprocessor:veil -->
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useAutoPrefixer" value="true" data-action="refresh()">
					<i class="acms-ico-checkbox"></i>
					オートプリフィクサーを使用する
				</label>
			</p>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useCssComb" value="true" data-action="refresh()">
					<i class="acms-ico-checkbox"></i>
					CSSのプロパティ順を整理する
				</label>
			</p>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useCmq" value="true" data-action="refresh()">
					<i class="acms-ico-checkbox"></i>
					CSSのメディアクエリを整理する
				</label>
			</p>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useMinifyCss" value="true" data-action="refresh()">
					<i class="acms-ico-checkbox"></i>
					CSSを圧縮する
				</label>
			</p>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useCssStyleGuide" value="true" data-action="refresh()">
					<i class="acms-ico-checkbox"></i>
					スタイルガイドを使用する
				</label>
			</p>
			<!-- BEGIN useCssStyleGuide:veil -->
			<p>
				<label>
					スタイルガイドの出力先
					<input type="text" data-bind="cssStyleGuideDest" data-action="refreshSource()">
				</label>
			</p>
			<!-- END useCssStyleGuide:veil -->
		</div>
		<!-- END mode:touch#css -->
		<!-- BEGIN mode:touch#js -->
		<div class="acms-tabs-panel">
			<h2>JS</h2>
			<p>
				<label>
					JS（またはaltJS）のソースの場所
					<input type="text" data-bind="jsSrc" data-action="refreshSource()">
				</label>
			</p>
			<p>
				<label>
					JSの書き出し場所
					<input type="text" data-bind="jsDest" data-action="refreshSource()">
				</label>
			</p>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useAltJs" data-action="refresh()" value="true">
					<i class="acms-ico-checkbox"></i>
					altJSを使用する
				</label>
			</p>
			<!-- BEGIN useAltJs:veil -->
			<select data-bind="altJs" data-action="refresh()">
				<option value="babel">babel</option>
				<option value="coffee">coffee</option>
				<option value="typescript">typescript</option>
				<option value="jsx">jsx</option>
			</select>
			<!-- END useAltJs:veil -->
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useJsHint" data-action="refresh()" value="true">
					<i class="acms-ico-checkbox"></i>
					JSの構文をチェックする
				</label>
			</p>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useUglifyJs" data-action="refresh()" value="true">
					<i class="acms-ico-checkbox"></i>
					JSを圧縮する
				</label>
			</p>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useConcatJs" data-action="refresh()" value="true">
					<i class="acms-ico-checkbox"></i>
					JSを結合する
				</label>
			</p>
			<!-- BEGIN useConcatJs:veil -->
			<p>
				<label>
					結合先のJS名
					<input type="text" data-bind="concatJs" data-action="refreshSource()">
				</label>
			</p>
			<!-- END useConcatJs:veil -->
		</div>
		<!-- END mode:touch#js -->
		<!-- BEGIN mode:touch#html -->
		<div class="acms-tabs-panel">
			<h2>HTML</h2>
			<p>
				<label>
					HTML（またはテンプレートエンジン）のソースの場所
					<input type="text" data-bind="htmlSrc" data-action="refreshSource()">
				</label>
			</p>
			<p>
				<label>
					HTMLの書き出しの場所
					<input type="text" data-bind="htmlDest" data-action="refreshSource()">
				</label>
			</p>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useTemplateEngine" data-action="refresh()" value="true">
					<i class="acms-ico-checkbox"></i>
					テンプレートエンジンを利用する
				</label>
			</p>
			<!-- BEGIN useTemplateEngine:veil -->
			<select data-bind="templateEngine" data-action="refresh()">
				<option>ejs</option>
				<option>jade</option>
			</select>
			<!-- END useTemplateEngine:veil -->
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useMinifyHtml" data-action="refresh()" value="true">
					<i class="acms-ico-checkbox"></i>
					HTMLを圧縮する
				</label>
			</p>
		</div>
		<!-- END mode:touch#html -->
		<!-- BEGIN mode:touch#other -->
		<div class="acms-tabs-panel">
			<h2>その他</h2>
			<h3>BrowserSync</h3>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useBrowserSync" data-action="refresh()" value="true">
					<i class="acms-ico-checkbox"></i>
					BrowserSyncを利用する
				</label>
			</p>
			<!-- BEGIN useBrowserSync:veil -->
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="browserSyncLocal" data-action="refresh()" value="true">
					<i class="acms-ico-checkbox"></i>
					static serverで使用する
				</label>
			</p>
			<p>
				<label>
					<!-- BEGIN browserSyncLocal:veil -->BrowserSyncを起動するディレクトリ<!-- END browserSyncLocal:veil -->
					<!-- BEGIN browserSyncLocal:empty -->BrowserSyncを起動するホスト<!-- END browserSyncLocal:empty -->
					<input type="text" data-bind="browserSyncDir" data-action="refreshSource()">
				</label>
			</p>
			<!-- END useBrowserSync:veil -->
			<h3>画像</h3>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useImageMin" data-action="refresh()" value="true">
					<i class="acms-ico-checkbox"></i>
					画像を圧縮する
				</label>
			</p>
			<!-- BEGIN useImageMin:veil -->
			<p>
				<label>
					圧縮前の画像のパス
					<input type="text" data-bind="imageSrc" data-action="refreshSource()">
				</label>
			</p>
			<p>
				<label>
					圧縮後の画像のパス
					<input type="text" data-bind="imageDest" data-action="refreshSource()">
				</label>
			</p>
			<!-- END useImageMin:veil -->
			<h3>アイコンフォント</h3>
			<p>
				<label class="acms-form-checkbox">
					<input type="checkbox" data-bind="useIconFont" data-action="refresh()" value="true">
					<i class="acms-ico-checkbox"></i>
					アイコンフォントを作成する
				</label>
			</p>
			<!-- BEGIN useIconFont:veil -->
			<p>
				<label>
					フォントの名前
					<input type="text" data-bind="iconFontName" data-action="refreshSource()">
				</label>
			</p>
			<p>
				<label>
					フォントのクラス名のプリフィックス
					<input type="text" data-bind="iconFontCssPrefix" data-action="refreshSource()">
				</label>
			</p>
			<p>
				<label>
					フォントの生成元
					<input type="text" data-bind="iconFontSrc" data-action="refreshSource()">
				</label>
			</p>
			<p>
				<label>
					フォントの出力先
					<input type="text" data-bind="iconFontDest" data-action="refreshSource()">
				</label>
			</p>
			<!-- END useIconFont:veil -->
		</div>
		<!-- END mode:touch#other -->
	</div>
</div>
<div class="acms-col-6">
	<div class="acms-tabs">
		<ul class="js-acms_tabs">
			<li><a href="#" class="js-acms_tab <!-- BEGIN fileMode:touch#gulpfile -->js-acms_tab-active<!-- END fileMode:touch#gulpfile -->" data-action="changeFileMode(gulpfile)">gulpfile.js</a></li>
			<li><a href="#" class="js-acms_tab <!-- BEGIN fileMode:touch#package -->js-acms_tab-active<!-- END fileMode:touch#package -->" data-action="changeFileMode(package)">package.json</a></li>
		</ul>
		<!-- BEGIN fileMode:touch#gulpfile -->
		<div class="acms-tabs-panel">
			<button class="acms-btn" data-action="sourceCopy">ソースをコピー</button>
			<button class="acms-btn" data-action="downloadPackage">パッケージをダウンロード</button>
			<pre><code class="language-javascript" data-id="source" id="code"></code></pre>
		</div>
		<!-- END fileMode:touch#gulpfile -->
		<!-- BEGIN fileMode:touch#package -->
		<div class="acms-tabs-panel">
		<button class="acms-btn" data-action="packageCopy">ソースをコピー</button>
		<button class="acms-btn" data-action="downloadPackage">パッケージをダウンロード</button>
			<pre><code class="language-javascript" data-id="package" id="jsoncode"></code>
		</div>
		<!-- END fileMode:touch#package -->
	</div>
</div>
</script>
<script type="text/template" id="source">
var gulp = require('gulp');
<!-- BEGIN useBrowserSync:veil -->
var browserSync = require('browser-sync').create();
var reload = browserSync.reload;
<!-- END useBrowserSync:veil -->
var plumber = require('gulp-plumber');
<!-- BEGIN useRename:veil -->
var rename = require('gulp-rename');
<!-- END useRename:veil -->
<!-- BEGIN usePreprocessor:veil -->
<!-- BEGIN cssPreprocessor:touch#sass -->
var sass = require('gulp-sass');
<!-- END cssPreprocessor:touch#sass -->
<!-- BEGIN cssPreprocessor:touch#less -->
var less = require('gulp-less');
<!-- END cssPreprocessor:touch#less -->
<!-- BEGIN cssPreprocessor:touch#stylus -->
var stylus = require('gulp-stylus');
<!-- END cssPreprocessor:touch#stylus -->
<!-- END usePreprocessor:veil -->
<!-- BEGIN useCssLint:veil -->
var csslint = require('gulp-csslint');
<!-- END useCssLint:veil -->
<!-- BEGIN useAutoPrefixer:veil -->
var autoPrefixer = require('gulp-autoprefixer');
<!-- END useAutoPrefixer:veil -->
<!-- BEGIN useCssComb:veil -->
var cssComb = require('gulp-csscomb');
<!-- END useCssComb:veil -->
<!-- BEGIN useCmq:veil -->
var cmq = require('gulp-combine-media-queries');
<!-- END useCmq:veil -->
<!-- BEGIN useCssStyleGuide:veil -->
var frontnote = require('gulp-frontnote');
<!-- END useCssStyleGuide:veil -->
<!-- BEGIN useMinifyCss:veil -->
var minifyCss = require('gulp-minify-css');
<!-- END useMinifyCss:veil -->
<!-- BEGIN useAltJs:veil -->
<!-- BEGIN altJs:touch#coffee -->
var coffee = require('gulp-coffee');
<!-- END altJs:touch#coffee -->
<!-- BEGIN altJs:touch#typescript -->
var typescript = require('gulp-typescript');
<!-- END altJs:touch#typescript -->
<!-- BEGIN altJs:touch#babel -->
var babel = require('gulp-babel');
<!-- END altJs:touch#babel -->
<!-- BEGIN altJs:touch#jsx -->
var jsx = require('gulp-jsx');
<!-- END altJs:touch#jsx -->
<!-- END useAltJs:veil -->
<!-- BEGIN useJsHint:veil -->
var jshint = require('gulp-jshint');
<!-- END useJsHint:veil -->
<!-- BEGIN useUglifyJs:veil -->
var uglify = require('gulp-uglify');
<!-- END useUglifyJs:veil -->
<!-- BEGIN useConcatJs:veil -->
var concat = require('gulp-concat');
<!-- END useConcatJs:veil -->
<!-- BEGIN useTemplateEngine:veil -->
var {templateEngine} = require('gulp-{templateEngine}');
<!-- END useTemplateEngine:veil -->
<!-- BEGIN useMinifyHtml:veil -->
var minifyHtml = require('gulp-minify-html');
<!-- END useMinifyHtml:veil -->
<!-- BEGIN useImageMin:veil -->
var imageMin = require('gulp-imagemin');
<!-- END useImageMin:veil -->
<!-- BEGIN useIconFont:veil -->
var iconfont = require('gulp-iconfont');
var consolidate = require('gulp-consolidate');
<!-- END useIconFont:veil -->
gulp.task('{cssTask}',function(){
	gulp.src(['{cssSrc}/**/*.{cssExtName}'])
		.pipe(plumber({
			handleError: function (err) {
				console.log(err);
				this.emit('end');
			}
		}))
		<!-- BEGIN useCssStyleGuide:veil -->
		.pipe(frontnote({
			out: '{cssStyleGuideDest}'
		}))
		<!-- END useCssStyleGuide:veil -->
		<!-- BEGIN usePreprocessor:veil -->
		.pipe({cssPreprocessor}())
		<!-- END usePreprocessor:veil -->
		<!-- BEGIN useAutoPrefixer:veil -->
		.pipe(autoPrefixer())
		<!-- END useAutoPrefixer:veil -->
		<!-- BEGIN useCssComb:veil -->
		.pipe(cssComb())
		<!-- END useCssComb:veil -->
		<!-- BEGIN useCmq:veil -->
		.pipe(cmq())
		<!-- END useCmq:veil -->
		<!-- BEGIN useCssLint:veil -->
		.pipe(csslint())
		.pipe(csslint.reporter())
		<!-- END useCssLint:veil -->
		.pipe(gulp.dest('{cssDest}'))<!-- BEGIN useMinifyCss:empty -->;<!-- END useMinifyCss:empty -->
		<!-- BEGIN useMinifyCss:veil -->
		.pipe(rename({
			suffix: '.min'
		}))
		.pipe(minifyCss())
		.pipe(gulp.dest('{cssDest}'));
		<!-- END useMinifyCss:veil -->
});
gulp.task('{jsTask}',function(){
	gulp.src(['{jsSrc}/**/*.{jsExtName}'])
		.pipe(plumber({
			handleError: function (err) {
				console.log(err);
				this.emit('end');
			}
		}))
		<!-- BEGIN useAltJs:veil -->
		.pipe({altJs}())
		<!-- END useAltJs:veil -->
		<!-- BEGIN useConcatJs:veil -->
		.pipe(concat('{concatJs}'))
		<!-- END useConcatJs:veil -->
		<!-- BEGIN useJsHint:veil -->
		.pipe(jshint())
  		.pipe(jshint.reporter('default'))
		<!-- END useJsHint:veil -->
		.pipe(gulp.dest('{jsDest}'))<!-- BEGIN useUglifyJs:empty -->;<!-- END useUglifyJs:empty -->
		<!-- BEGIN useUglifyJs:veil -->
		.pipe(rename({
			suffix: '.min'
		}))
		.pipe(uglify())
		.pipe(gulp.dest('{jsDest}'));
		<!-- END useUglifyJs:veil -->
});
gulp.task('{htmlTask}',function(){
	gulp.src(['{htmlSrc}/**/*.{htmlExtName}'])
		.pipe(plumber({
			handleError: function (err) {
				console.log(err);
				this.emit('end');
			}
		}))
		<!-- BEGIN useTemplateEngine:veil -->
		.pipe({templateEngine}())
		<!-- END useTemplateEngine:veil -->
		.pipe(gulp.dest('{htmlDest}'))<!-- BEGIN useMinifyHtml:empty -->;<!-- END useMinifyHtml:empty -->
		<!-- BEGIN useMinifyHtml:veil -->
		.pipe(minifyHtml())
		.pipe(gulp.dest('{htmlDest}'))
		<!-- END useMinifyHtml:veil -->
});
<!-- BEGIN useImageMin:veil -->
gulp.task('image',function(){
	gulp.src(['{imageSrc}/**/*'])
		.pipe(plumber({
			handleError: function (err) {
				console.log(err);
				this.emit('end');
			}
		}))
		.pipe(imageMin())
		.pipe(gulp.dest('{imageDest}'));
});
<!-- END useImageMin:veil -->
<!-- BEGIN useIconFont:veil -->
gulp.task('iconfont', function(){
	gulp.src(['{iconFontSrc}/**/*.svg'])
		.pipe(iconfont({
			fontName: '{iconFontName}'
		}))
		.on('codepoints', function(codepoints) {
			var options = {
				glyphs: codepoints,
				fontName: '{iconFontName}',
				fontFamily: '{iconFontName}',
				className: '{iconFontCssPrefix}',
				timestamp: Date.now()
			};
			gulp.src('{iconFontSrc}/template/**/*.css')
				.pipe(consolidate('lodash', options))
				.pipe(rename({ 
					basename:'{iconFontName}'
				}))
				.pipe(gulp.dest('{iconFontDest}/template'));
			gulp.src('{iconFontSrc}/template/**/*.html')
				.pipe(consolidate('lodash', options))
				.pipe(rename({ 
					basename:'{iconFontName}'
				}))
				.pipe(gulp.dest('{iconFontDest}/template'));
		})
		.pipe(gulp.dest('{iconFontDest}'));
});
<!-- END useIconFont:veil -->
gulp.task('default',function(){
	<!-- BEGIN useBrowserSync:veil -->
	browserSync.init({
		<!-- BEGIN browserSyncLocal:veil -->
        server: "{browserSyncDir}"
        <!-- END browserSyncLocal:veil -->
        <!-- BEGIN browserSyncLocal:empty -->
        proxy: "{browserSyncDir}"
        <!-- END browserSyncLocal:empty -->
    });
    <!-- END useBrowserSync:veil -->
	gulp.watch('{jsSrc}/**/*.{jsExtName}',['{jsTask}'<!-- BEGIN useBrowserSync:veil -->,'reload'<!-- END useBrowserSync:veil -->]);
	gulp.watch('{cssSrc}/**/*.{cssExtName}',['{cssTask}'<!-- BEGIN useBrowserSync:veil -->,'reload'<!-- END useBrowserSync:veil -->]);
	gulp.watch('{htmlSrc}/**/*.{htmlExtName}',['{htmlTask}'<!-- BEGIN useBrowserSync:veil -->,'reload'<!-- END useBrowserSync:veil -->]);
	<!-- BEGIN useImageTask:veil -->
	gulp.watch('{imageSrc}/**/*',[{imageTasks}]);
	<!-- END useImageTask:veil -->
	<!-- BEGIN useIconFont:veil -->
	gulp.watch('{iconFontSrc}/**/*.svg',['iconfont'<!-- BEGIN useBrowserSync:veil -->,'reload'<!-- END useBrowserSync:veil -->]);
	<!-- END useIconFont:veil -->
});
</script>
<script type="text/template" id="package">
{
	"name": "gulpfile_generator",
	"version": "1.0.0",
	"description": "This is a genarator for gulpfile and package.json",
	"author": "steelydylan",
	"keywords": "gulp",
	"devDependencies":{
		"gulp": "*",
		"gulp-plumber": "*"<!-- BEGIN useRename:veil -->,
		"gulp-rename": "*"<!-- END useRename:veil --><!-- BEGIN usePreprocessor:veil -->,
		"gulp-{cssPreprocessor}": "*"<!-- END usePreprocessor:veil --><!-- BEGIN useAutoPrefixer:veil -->,
		"gulp-autoprefixer": "*"<!-- END useAutoPrefixer:veil --><!-- BEGIN useCssComb:veil -->,
		"gulp-csscomb": "*"<!-- END useCssComb:veil --><!-- BEGIN useCmq:veil -->,
		"gulp-combine-media-queries": "*"<!-- END useCmq:veil --><!-- BEGIN useCssLint:veil -->,
		"gulp-csslint": "*"<!-- END useCssLint:veil --><!-- BEGIN useCssStyleGuide:veil -->,
		"gulp-frontnote": "*"<!-- END useCssStyleGuide:veil --><!-- BEGIN useMinifyCss:veil -->,
		"gulp-minify-css": "*"<!-- END useMinifyCss:veil --><!-- BEGIN useAltJs:veil -->,
		"gulp-{altJs}": "*"<!-- END useAltJs:veil --><!-- BEGIN useUglifyJs:veil -->,
		"gulp-uglify": "*"<!-- END useUglifyJs:veil --><!-- BEGIN useConcatJs:veil -->,
		"gulp-concat": "*"<!-- END useConcatJs:veil --><!-- BEGIN useJsHint:veil -->,
		"gulp-jshint": "*"<!-- END useJsHint:veil --><!-- BEGIN useTemplateEngine:veil -->,
		"gulp-{templateEngine}": "*"<!-- END useTemplateEngine:veil --><!-- BEGIN useMinifyHtml:veil -->,
		"gulp-minify-html": "*"<!-- END useMinifyHtml:veil --><!-- BEGIN useImageMin:veil -->,
		"gulp-imagemin": "*"<!-- END useImageMin:veil --><!-- BEGIN useIconFont:veil -->,
		"gulp-iconfont": "*",
		"gulp-consolidate": "*",
		"lodash": "*"<!-- END useIconFont:veil --><!-- BEGIN useBrowserSync:veil -->,
		"browser-sync": "*"<!-- END useBrowserSync:veil -->
	}
}
</script>
<script type="text/template" id="myfont-css">
@font-face {
	font-family: "<%= fontFamily %>";
	src:url('../<%= fontName %>.eot?cache=<%= timestamp %>');
	src:url('../<%= fontName %>.eot?cache=<%= timestamp %>#iefix') format('embedded-opentype'),
		url('../<%= fontName %>.woff?cache=<%= timestamp %>') format('woff'),
		url('../<%= fontName %>.ttf?cache=<%= timestamp %>') format('truetype'),
		url('../<%= fontName %>.svg?cache=<%= timestamp %>#<%= fontFamily %>') format('svg');
	font-weight: normal;
	font-style: normal;
}
.<%= className %> {
	font-family: "<%= fontFamily %>";
	display: inline-block;
	position: relative;
		top: 1px;
	line-height:1;
	font-weight:normal;
	font-style:normal;
	speak:none;
	text-decoration:inherit;
	text-transform:none;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
<% _.each(glyphs, function(glyph) { %>
.<%= className %>-<%= glyph.name.replace(/^.*CS5_/g, '') %>:before { 
	content: "\\<%= glyph.codepoint.toString(16).toUpperCase() %>"; 
}
<% }); %>
</script>
<script type="text/template" id="myfont-html">
<html>
	<head>
		<title><%= fontName %></title>
		<link rel="stylesheet" href="{iconFontName}.css?cache=<%= timestamp %>">
		<style>
			body { font-family: Gill Sans; text-align: center; background: #f7f7f7 }
			body > h1 { color: #666; margin: 1em 0 }
			.glyph { padding: 0 }
			.glyph > li { display: inline-block; margin: .3em .2em; width: 5em; height: 6.5em; background: #fff; border-radius: .5em; position: relative }
			.glyph > li span:first-child { display: block; margin-top: .1em; font-size: 4em; }
			.glyph-name { font-size: .8em; color: #999; display: block }
			.glyph-codepoint { color: #999; font-family: monospace }
		</style>
	</head>
	<body>
		<h2><%= fontName %></h2>
		<ul class="glyph"><% _.each(glyphs, function(glyph) { %>
			<li>
				<span class="<%= className %> <%= className %>-<%= glyph.name.replace(/^.*CS5_/g, '') %>"></span>
				<span class="glyph-name"><%= glyph.name.replace(/^.*CS5_/g, '') %></span>
				<span class="glyph-codepoint"><%= glyph.codepoint.toString(16).toUpperCase() %></span>
			</li><% }); %>
		</ul>
	</body>
</html>
</script>
	<div data-id="form" class="acms-form"></div>
	<script src="js/jquery.js"></script>
	<script src="js/prism.js"></script>
	<script src="js/jszip.min.js"></script>
	<script src="js/FileSaver.min.js"></script>
	<script src="js/template.js"></script>
	<script src="js/main.js"></script>
</body>
</html>