<!DOCTYPE html>
<html>
<head>
    <title>gulp generator</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:url" content="http://steelydylan.github.io/gulp-generator/" />
    <meta property="og:site_name" content="gulp generator" />
    <meta property="og:title" content="gulp generator" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="GUI based gulpfile generator" />
    <meta name="description" content="GUI based gulpfile generator" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/prism-tommorrow.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<a href="https://github.com/steelydylan/gulp-generator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
<div class="githubBox">
<h1 class="logo">gulp generator</h1>
<a href="https://gitter.im/steelydylan/gulp-generator"><img src="https://badges.gitter.im/Join%20Chat.svg" target="_blank"></a>
<iframe src="https://ghbtns.com/github-btn.html?user=steelydylan&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
<iframe src="https://ghbtns.com/github-btn.html?user=steelydylan&repo=gulp-generator&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
</div>
<script type="text/template" id="form">
<div class="generatorModal" data-action="hideModal">
    <div class="generatorModalBody">
        <p class="generatorModalHeading">
            <!-- BEGIN lang:touch#ja -->生成されたgulpfileやpackage.jsonの内容を他の人と共有できます。<!-- END lang:touch#ja -->
            <!-- BEGIN lang:touch#en -->You can share the generated gulpfile and package.json with others<!-- END lang:touch#en -->
        </p>
        <div class="generatorModalInner">
            <a href="http://getpocket.com/edit?url={shortenedUrl}&title=gulp-generator" class="generatorBtn pocket" target="_blank">
                <!-- BEGIN lang:touch#ja -->Pocketに保存<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Save on Pocket<!-- END lang:touch#en -->
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={shortenedUrl}" class="generatorBtn facebook" target="_blank">
                <!-- BEGIN lang:touch#ja -->Facebookで共有<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Share on Facebook<!-- END lang:touch#en -->
            </a>
            <a href="https://twitter.com/intent/tweet?url={shortenedUrl}&hashtags=gulp-generator" class="generatorBtn twitter" target="_blank">
                <!-- BEGIN lang:touch#ja -->Twitterで共有<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Share on Twitter<!-- END lang:touch#en -->
            </a>
            <input type="text" value="{shortenedUrl}" class="generatorShareInput">
        </div>
    </div>
</div>
<div class="generatorGrid6">
    <div class="generatorTabWrap">
        <ul class="generatorTab">
            <li<!-- BEGIN mode:touch#css --> class="current"<!-- END mode:touch#css -->><a href="#" data-action="changeMode(css)">css</a></li>
            <li<!-- BEGIN mode:touch#js --> class="current"<!-- END mode:touch#js -->><a href="#" data-action="changeMode(js)">js</a></li>
            <li<!-- BEGIN mode:touch#html --> class="current"<!-- END mode:touch#html -->><a href="#" data-action="changeMode(html)">html</a></li>
            <li<!-- BEGIN mode:touch#other --> class="current"<!-- END mode:touch#other -->><a href="#" data-action="changeMode(other)"><!-- BEGIN lang:touch#ja -->その他<!-- END lang:touch#ja --><!-- BEGIN lang:touch#en -->Others<!-- END lang:touch#en --></a></li>
        </ul>
    </div>
    <!-- BEGIN mode:touch#css -->
    <div class="generatorPanel">
        <h2>CSS</h2>
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->CSS（またはプロプロセッサ）のソースの場所<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Source of the CSS files(or preprocessors)<!-- END lang:touch#en -->
                <input type="text" data-bind="cssSrc" data-action="refreshSource()">
            </label>
        </p>
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->CSSの書き出しの場所<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->destination of the CSS files<!-- END lang:touch#en -->
                <input type="text" data-bind="cssDest" data-action="refreshSource()">
            </label>
        </p>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useCssLint" value="true" data-action="refresh()">
                <i></i>
                <!-- BEGIN lang:touch#ja -->CSSの構文をチェックする<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Check CSS files' syntax<!-- END lang:touch#en -->
            </label>
        </p>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="usePreprocessor" value="true" data-action="refresh()">
                <i></i>
                <!-- BEGIN lang:touch#ja -->プリプロセッサーを使用する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Use CSS preprocessors<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- BEGIN usePreprocessor:veil -->
        <div class="generatorSelect">
            <select data-bind="cssPreprocessor" data-action="refresh()">
                <option value="sass">sass</option>
                <option value="less">less</option>
                <option value="stylus">stylus</option>
            </select>
        </div>
        <!-- BEGIN cssPreprocessor:touch#sass -->
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useBourbonNeat" value="true" data-action="refresh()">
                <i></i>
                <!-- BEGIN lang:touch#ja -->Bourbon Neatを使用する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Use Bourbon Neat<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- END cssPreprocessor:touch#sass -->
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useSourceMapCss" value="true" data-action="refresh()">
                <i></i>
                <!-- BEGIN lang:touch#ja -->ソースマップを使用する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Use SourceMap<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- END usePreprocessor:veil -->
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useAutoPrefixer" value="true" data-action="refresh()">
                <i></i>
                <!-- BEGIN lang:touch#ja -->オートプリフィクサーを使用する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Use autoprefixer<!-- END lang:touch#en -->
            </label>
        </p>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useCssComb" value="true" data-action="refresh()">
                <i></i>
                <!-- BEGIN lang:touch#ja -->CSSのプロパティ順を整理する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Organize the order of the CSS' properties <!-- END lang:touch#en -->
            </label>
        </p>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useCmq" value="true" data-action="refresh()">
                <i></i>
                <!-- BEGIN lang:touch#ja -->CSSのメディアクエリを整理する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Organize the media queries of CSS<!-- END lang:touch#en -->
            </label>
        </p>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useMinifyCss" value="true" data-action="refresh()">
                <i></i>
                <!-- BEGIN lang:touch#ja -->CSSを圧縮する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Minify CSS files<!-- END lang:touch#en -->
            </label>
        </p>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useConcatCss" value="true" data-action="refresh()">
                <i></i>
                <!-- BEGIN lang:touch#ja -->CSSを結合する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Concatatenate CSS files<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- BEGIN useConcatCss:veil -->
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->結合先のCSS名<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Concatatenated file name<!-- END lang:touch#en -->
                <input type="text" data-bind="concatCss" data-action="refreshSource()">
            </label>
        </p>
        <!-- END useConcatCss:veil -->
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useCssStyleGuide" value="true" data-action="refresh()">
                <i></i>
                <!-- BEGIN lang:touch#ja -->スタイルガイドを使用する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Use CSS' styleguide<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- BEGIN useCssStyleGuide:veil -->
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->スタイルガイドの出力先<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Destination of the styleguide<!-- END lang:touch#en -->
                <input type="text" data-bind="cssStyleGuideDest" data-action="refreshSource()">
            </label>
        </p>
        <!-- END useCssStyleGuide:veil -->
    </div>
    <!-- END mode:touch#css -->
    <!-- BEGIN mode:touch#js -->
    <div class="generatorPanel">
        <h2>JS</h2>
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->JS（またはaltJS）のソースの場所<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Source of the JS files(or altJS)<!-- END lang:touch#en -->
                <input type="text" data-bind="jsSrc" data-action="refreshSource()">
            </label>
        </p>
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->JSの書き出し場所<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Destination of the JS files<!-- END lang:touch#en -->
                <input type="text" data-bind="jsDest" data-action="refreshSource()">
            </label>
        </p>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useAltJs" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->altJSを使用する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Use altJS<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- BEGIN useAltJs:veil -->
        <div class="generatorSelect">
            <select data-bind="altJs" data-action="refresh()">
                <option value="babel">babel</option>
                <option value="coffee">coffee</option>
                <option value="typescript">typescript</option>
                <option value="jsx">jsx</option>
            </select>
        </div>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useSourceMapJs" value="true" data-action="refresh()">
                <i></i>
                <!-- BEGIN lang:touch#ja -->ソースマップを使用する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Use SourceMap<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- END useAltJs:veil -->
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useBrowserify" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->Browserifyを使用する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Use Browserify<!-- END lang:touch#en -->
            </label>
        </p>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useJsHint" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->JSの構文をチェックする<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Check JS files' syntax<!-- END lang:touch#en -->
            </label>
        </p>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useUglifyJs" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->JSを圧縮する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Minify JS files<!-- END lang:touch#en -->
            </label>
        </p>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useConcatJs" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->JSを結合する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Concatatenate JS files<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- BEGIN useConcatJs:veil -->
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->結合先のJS名<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Concatatenated file name<!-- END lang:touch#en -->
                <input type="text" data-bind="concatJs" data-action="refreshSource()">
            </label>
        </p>
        <!-- END useConcatJs:veil -->
    </div>
    <!-- END mode:touch#js -->
    <!-- BEGIN mode:touch#html -->
    <div class="generatorPanel">
        <h2>HTML</h2>
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->HTML（またはテンプレートエンジン）のソースの場所<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Source of HTML files(or template engine)<!-- END lang:touch#en -->
                <input type="text" data-bind="htmlSrc" data-action="refreshSource()">
            </label>
        </p>
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->HTMLの書き出しの場所<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Destination of HTML files<!-- END lang:touch#en -->
                <input type="text" data-bind="htmlDest" data-action="refreshSource()">
            </label>
        </p>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useTemplateEngine" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->テンプレートエンジンを利用する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Use template engine<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- BEGIN useTemplateEngine:veil -->
        <div class="generatorSelect">
            <select data-bind="templateEngine" data-action="refresh()">
                <option>ejs</option>
                <option>jade</option>
            </select>
        </div>
        <!-- END useTemplateEngine:veil -->
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useMinifyHtml" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->HTMLを圧縮する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Minify HTML files<!-- END lang:touch#en -->
            </label>
        </p>
    </div>
    <!-- END mode:touch#html -->
    <!-- BEGIN mode:touch#other -->
    <div class="generatorPanel">
        <h2><!-- BEGIN lang:touch#ja -->その他<!-- END lang:touch#ja --><!-- BEGIN lang:touch#en -->Others<!-- END lang:touch#en --></h2>
        <h3><!-- BEGIN lang:touch#ja -->通知<!-- END lang:touch#ja --><!-- BEGIN lang:touch#en -->Notification<!-- END lang:touch#en --></h3>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useNotification" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->タスクが完了したら通知する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Notify When the tasks finished<!-- END lang:touch#en -->
            </label>
        </p>
        <h3>BrowserSync</h3>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useBrowserSync" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->BrowserSyncを利用する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Use BrowserSync<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- BEGIN useBrowserSync:veil -->
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="browserSyncLocal" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->static serverで使用する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Use it in a static server<!-- END lang:touch#en -->
            </label>
        </p>
        <p>
            <label>
                <!-- BEGIN browserSyncLocal:veil -->
                    <!-- BEGIN lang:touch#ja -->BrowserSyncを起動するディレクトリ<!-- END lang:touch#ja -->
                    <!-- BEGIN lang:touch#en -->BrowserSync firing directory<!-- END lang:touch#en -->
                <!-- END browserSyncLocal:veil -->
                <!-- BEGIN browserSyncLocal:empty -->
                    <!-- BEGIN lang:touch#ja -->BrowserSyncを起動するホスト<!-- END lang:touch#ja -->
                    <!-- BEGIN lang:touch#en -->BrowserSync firing Host<!-- END lang:touch#en -->
                <!-- END browserSyncLocal:empty -->
                <input type="text" data-bind="browserSyncDir" data-action="refreshSource()">
            </label>
        </p>
        <!-- END useBrowserSync:veil -->
        <h3><!-- BEGIN lang:touch#ja -->画像<!-- END lang:touch#ja --><!-- BEGIN lang:touch#en -->Image<!-- END lang:touch#en --></h3>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useImageMin" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->画像を圧縮する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Optimize image files<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- BEGIN useImageMin:veil -->
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->圧縮前の画像のパス<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Source of the pre-optimized image files<!-- END lang:touch#en -->
                <input type="text" data-bind="imageSrc" data-action="refreshSource()">
            </label>
        </p>
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->圧縮後の画像のパス<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Destination of the optimized image files<!-- END lang:touch#en -->
                <input type="text" data-bind="imageDest" data-action="refreshSource()">
            </label>
        </p>
        <!-- END useImageMin:veil -->
        <h3><!-- BEGIN lang:touch#ja -->アイコンフォント<!-- END lang:touch#ja --><!-- BEGIN lang:touch#en -->Icon font<!-- END lang:touch#en --></h3>
        <p>
            <label class="generatorCheckbox">
                <input type="checkbox" data-bind="useIconFont" data-action="refresh()" value="true">
                <i></i>
                <!-- BEGIN lang:touch#ja -->アイコンフォントを作成する<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Create icon fonts<!-- END lang:touch#en -->
            </label>
        </p>
        <!-- BEGIN useIconFont:veil -->
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->フォントの名前<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Font's name<!-- END lang:touch#en -->
                <input type="text" data-bind="iconFontName" data-action="refreshSource()">
            </label>
        </p>
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->フォントのクラス名のプリフィックス<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->The prefix of the font's class name<!-- END lang:touch#en -->
                <input type="text" data-bind="iconFontCssPrefix" data-action="refreshSource()">
            </label>
        </p>
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->フォントの生成元<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Source of the fonts<!-- END lang:touch#en -->
                <input type="text" data-bind="iconFontSrc" data-action="refreshSource()">
            </label>
        </p>
        <p>
            <label>
                <!-- BEGIN lang:touch#ja -->フォントの出力先<!-- END lang:touch#ja -->
                <!-- BEGIN lang:touch#en -->Destination of the fonts<!-- END lang:touch#en -->
                <input type="text" data-bind="iconFontDest" data-action="refreshSource()">
            </label>
        </p>
        <!-- END useIconFont:veil -->
    </div>
    <!-- END mode:touch#other -->
</div>
<div class="generatorGrid6">
    <div class="generatorTabWrap">
        <ul class="generatorTab">
            <li<!-- BEGIN fileMode:touch#gulpfile --> class="current"<!-- END fileMode:touch#gulpfile -->><a href="#" data-action="changeFileMode(gulpfile)">gulpfile.js</a></li>
            <li<!-- BEGIN fileMode:touch#package --> class="current"<!-- END fileMode:touch#package -->><a href="#" data-action="changeFileMode(package)">package.json</a></li>
        </ul>
    </div>
    <!-- BEGIN fileMode:touch#gulpfile -->
    <div class="generatorPanel">
        <button class="generatorBtn" data-action="sourceCopy"><!-- BEGIN lang:touch#ja -->ソースをコピー<!-- END lang:touch#ja --><!-- BEGIN lang:touch#en -->Copy the source<!-- END lang:touch#en --></button>
        <button class="generatorBtn" data-action="downloadPackage"><!-- BEGIN lang:touch#ja -->パッケージをダウンロード<!-- END lang:touch#ja --><!-- BEGIN lang:touch#en -->Download the package<!-- END lang:touch#en --></button>
        <button class="generatorBtn" data-action="getZippedUrl"><!-- BEGIN lang:touch#ja -->URLを共有<!-- END lang:touch#ja --><!-- BEGIN lang:touch#en -->Share the URL<!-- END lang:touch#en --></button>
        <pre><code class="language-javascript" data-id="source" id="code"></code></pre>
    </div>
    <!-- END fileMode:touch#gulpfile -->
    <!-- BEGIN fileMode:touch#package -->
    <div class="generatorPanel">
    <button class="generatorBtn" data-action="packageCopy"><!-- BEGIN lang:touch#ja -->ソースをコピー<!-- END lang:touch#ja --><!-- BEGIN lang:touch#en -->Copy the source<!-- END lang:touch#en --></button>
    <button class="generatorBtn" data-action="downloadPackage"><!-- BEGIN lang:touch#ja -->パッケージをダウンロード<!-- END lang:touch#ja --><!-- BEGIN lang:touch#en -->Download the package<!-- END lang:touch#en --></button>
    <button class="generatorBtn" data-action="getZippedUrl"><!-- BEGIN lang:touch#ja -->URLを共有<!-- END lang:touch#ja --><!-- BEGIN lang:touch#en -->Share the URL<!-- END lang:touch#en --></button>
        <pre><code class="language-javascript" data-id="package" id="jsoncode"></code>
    </div>
    <!-- END fileMode:touch#package -->
</div>
</script>
<script type="text/template" id="source">
var gulp = require('gulp');
<!-- BEGIN useBrowserSync:veil -->
var browserSync = require('browser-sync').create();
var reload = browserSync.reload;
<!-- END useBrowserSync:veil -->
var plumber = require('gulp-plumber');
<!-- BEGIN useRename:veil -->
var rename = require('gulp-rename');
<!-- END useRename:veil -->
<!-- BEGIN useSourceMap:veil -->
var sourcemaps = require('gulp-sourcemaps');
<!-- END useSourceMap:veil -->
<!-- BEGIN usePreprocessor:veil -->
<!-- BEGIN cssPreprocessor:touch#sass -->
var sass = require('gulp-sass');
<!-- END cssPreprocessor:touch#sass -->
<!-- BEGIN cssPreprocessor:touch#less -->
var less = require('gulp-less');
<!-- END cssPreprocessor:touch#less -->
<!-- BEGIN cssPreprocessor:touch#stylus -->
var stylus = require('gulp-stylus');
<!-- END cssPreprocessor:touch#stylus -->
<!-- END usePreprocessor:veil -->
<!-- BEGIN useCssLint:veil -->
var csslint = require('gulp-csslint');
<!-- END useCssLint:veil -->
<!-- BEGIN useAutoPrefixer:veil -->
var autoPrefixer = require('gulp-autoprefixer');
//if node version is lower than v.0.1.2
require('es6-promise').polyfill();
<!-- END useAutoPrefixer:veil -->
<!-- BEGIN useCssComb:veil -->
var cssComb = require('gulp-csscomb');
<!-- END useCssComb:veil -->
<!-- BEGIN useCmq:veil -->
var cmq = require('gulp-merge-media-queries');
<!-- END useCmq:veil -->
<!-- BEGIN useCssStyleGuide:veil -->
var frontnote = require('gulp-frontnote');
<!-- END useCssStyleGuide:veil -->
<!-- BEGIN useMinifyCss:veil -->
var cleanCss = require('gulp-clean-css');
<!-- END useMinifyCss:veil -->
<!-- BEGIN useAltJs:veil -->
<!-- BEGIN altJs:touch#coffee -->
var coffee = require('gulp-coffee');
<!-- END altJs:touch#coffee -->
<!-- BEGIN altJs:touch#typescript -->
var typescript = require('gulp-typescript');
<!-- END altJs:touch#typescript -->
<!-- BEGIN altJs:touch#babel -->
var babel = require('gulp-babel');
<!-- END altJs:touch#babel -->
<!-- BEGIN altJs:touch#jsx -->
var jsx = require('gulp-jsx');
<!-- END altJs:touch#jsx -->
<!-- END useAltJs:veil -->
<!-- BEGIN useJsHint:veil -->
var jshint = require('gulp-jshint');
<!-- END useJsHint:veil -->
<!-- BEGIN useBrowserify:veil -->
var browserify = require('gulp-browserify');
<!-- END useBrowserify:veil -->
<!-- BEGIN useUglifyJs:veil -->
var uglify = require('gulp-uglify');
<!-- END useUglifyJs:veil -->
<!-- BEGIN useConcatJsOrCss:veil -->
var concat = require('gulp-concat');
<!-- END useConcatJsOrCss:veil -->
<!-- BEGIN useTemplateEngine:veil -->
var {templateEngine} = require('gulp-{templateEngine}');
<!-- END useTemplateEngine:veil -->
<!-- BEGIN useMinifyHtml:veil -->
var minifyHtml = require('gulp-minify-html');
<!-- END useMinifyHtml:veil -->
<!-- BEGIN useImageMin:veil -->
var imageMin = require('gulp-imagemin');
var cache = require('gulp-cache');
<!-- END useImageMin:veil -->
<!-- BEGIN useIconFont:veil -->
var iconfont = require('gulp-iconfont');
var consolidate = require('gulp-consolidate');
<!-- END useIconFont:veil -->
<!-- BEGIN useNotification:veil -->
var notify = require('gulp-notify');
<!-- END useNotification:veil -->
gulp.task('{cssTask}',function(){
    gulp.src(['{cssSrc}/**/*.{cssExtName}'])
        .pipe(plumber({
            handleError: function (err) {
                console.log(err);
                this.emit('end');
            }
        }))
        <!-- BEGIN useCssStyleGuide:veil -->
        .pipe(frontnote({
            out: '{cssStyleGuideDest}'
        }))
        <!-- END useCssStyleGuide:veil -->
        <!-- BEGIN usePreprocessor:veil -->
        <!-- BEGIN useSourceMapCss:veil -->
        .pipe(sourcemaps.init())
        <!-- END useSourceMapCss:veil -->
        .pipe({cssPreprocessor}(<!-- BEGIN cssPreprocessor:touch#sass --><!-- END cssPreprocessor:touch#sass --><!-- BEGIN useBourbonNeat:veil -->\{
            includePaths: require('node-neat').includePaths
        \}<!-- END useBourbonNeat:veil -->))
        <!-- END usePreprocessor:veil -->
        <!-- BEGIN useAutoPrefixer:veil -->
        .pipe(autoPrefixer())
        <!-- END useAutoPrefixer:veil -->
        <!-- BEGIN useCssComb:veil -->
        .pipe(cssComb())
        <!-- END useCssComb:veil -->
        <!-- BEGIN useCmq:veil -->
        .pipe(cmq({log:true}))
        <!-- END useCmq:veil -->
        <!-- BEGIN useCssLint:veil -->
        .pipe(csslint())
        .pipe(csslint.reporter())
        <!-- END useCssLint:veil -->
        <!-- BEGIN useConcatCss:veil -->
        .pipe(concat('{concatCss}'))
        <!-- END useConcatCss:veil -->
        <!-- BEGIN useMinifyCss:empty -->
        <!-- BEGIN useCssStream:veil -->
        .pipe(sourcemaps.write())
        <!-- END useCssStream:veil -->
        <!-- END useMinifyCss:empty -->
        .pipe(gulp.dest('{cssDest}'))
        <!-- BEGIN useMinifyCss:veil -->
        .pipe(rename({
            suffix: '.min'
        }))
        .pipe(cleanCss())
        <!-- BEGIN useCssStream:veil -->
        .pipe(sourcemaps.write())
        <!-- END useCssStream:veil -->
        .pipe(gulp.dest('{cssDest}'))
        <!-- END useMinifyCss:veil -->
        <!-- BEGIN useBrowserSync:veil -->
        .pipe(reload(<!-- BEGIN useCssStream:veil -->{stream:true}<!-- END useCssStream:veil -->))
        <!-- END useBrowserSync:veil -->
        <!-- BEGIN useNotification:veil -->
        .pipe(notify('css task finished'))
        <!-- END useNotification:veil -->
});
gulp.task('{jsTask}',function(){
    gulp.src(['{jsSrc}/**/*.{jsExtName}'])
        .pipe(plumber({
            handleError: function (err) {
                console.log(err);
                this.emit('end');
            }
        }))
        <!-- BEGIN useAltJs:veil -->
        <!-- BEGIN useSourceMapJs:veil -->
        .pipe(sourcemaps.init())
        <!-- END useSourceMapJs:veil -->
        .pipe({altJs}())
        <!-- END useAltJs:veil -->
        <!-- BEGIN useConcatJs:veil -->
        .pipe(concat('{concatJs}'))
        <!-- END useConcatJs:veil -->
        <!-- BEGIN useJsHint:veil -->
        .pipe(jshint())
          .pipe(jshint.reporter('default'))
        <!-- END useJsHint:veil -->
        <!-- BEGIN useBrowserify:veil -->
          .pipe(browserify())
          <!-- END useBrowserify:veil -->
          <!-- BEGIN useUglifyJs:empty -->
          <!-- BEGIN useJsStream:veil -->
        .pipe(sourcemaps.write())
        <!-- END useJsStream:veil -->
        <!-- END useUglifyJs:empty -->
        .pipe(gulp.dest('{jsDest}'))
        <!-- BEGIN useUglifyJs:veil -->
        .pipe(rename({
            suffix: '.min'
        }))
        .pipe(uglify())
        <!-- BEGIN useJsStream:veil -->
        .pipe(sourcemaps.write())
        <!-- END useJsStream:veil -->
        .pipe(gulp.dest('{jsDest}'))
        <!-- END useUglifyJs:veil -->
        <!-- BEGIN useBrowserSync:veil -->
        .pipe(reload(<!-- BEGIN useJsStream:veil -->{stream:true}<!-- END useJsStream:veil -->))
        <!-- END useBrowserSync:veil -->
        <!-- BEGIN useNotification:veil -->
          .pipe(notify('js task finished'))
          <!-- END useNotification:veil -->
});
gulp.task('{htmlTask}',function(){
    gulp.src(['{htmlSrc}/**/*.{htmlExtName}'])
        .pipe(plumber({
            handleError: function (err) {
                console.log(err);
                this.emit('end');
            }
        }))
        <!-- BEGIN useTemplateEngine:veil -->
        .pipe({templateEngine}())
        <!-- END useTemplateEngine:veil -->
        <!-- BEGIN useMinifyHtml:empty -->
        .pipe(gulp.dest('{htmlDest}'))
        <!-- END useMinifyHtml:empty -->
        <!-- BEGIN useMinifyHtml:veil -->
        .pipe(minifyHtml())
        .pipe(gulp.dest('{htmlDest}'))
        <!-- END useMinifyHtml:veil -->
        <!-- BEGIN useBrowserSync:veil -->
        .pipe(reload())
        <!-- END useBrowserSync:veil -->
        <!-- BEGIN useNotification:veil -->
        .pipe(notify('html task finished'))
        <!-- END useNotification:veil -->
});
<!-- BEGIN useImageMin:veil -->
gulp.task('image',function(){
    gulp.src(['{imageSrc}/**/*'])
        .pipe(plumber({
            handleError: function (err) {
                console.log(err);
                this.emit('end');
            }
        }))
        .pipe(cache(imageMin()))
        .pipe(gulp.dest('{imageDest}'))
        <!-- BEGIN useBrowserSync:veil -->
        .pipe(reload())
        <!-- END useBrowserSync:veil -->
        <!-- BEGIN useNotification:veil -->
        .pipe(notify('image task finished'))
        <!-- END useNotification:veil -->
});
<!-- END useImageMin:veil -->
<!-- BEGIN useIconFont:veil -->
gulp.task('iconfont', function(){
    gulp.src(['{iconFontSrc}/**/*.svg'])
        .pipe(iconfont({
            fontName: '{iconFontName}'
        }))
        .on('codepoints', function(codepoints) {
            var options = {
                glyphs: codepoints,
                fontName: '{iconFontName}',
                fontFamily: '{iconFontName}',
                className: '{iconFontCssPrefix}',
                timestamp: Date.now()
            };
            gulp.src('{iconFontSrc}/template/**/*.css')
                .pipe(consolidate('lodash', options))
                .pipe(rename({
                    basename:'{iconFontName}'
                }))
                .pipe(gulp.dest('{iconFontDest}/template'));
            gulp.src('{iconFontSrc}/template/**/*.html')
                .pipe(consolidate('lodash', options))
                .pipe(rename({
                    basename:'{iconFontName}'
                }))
                .pipe(gulp.dest('{iconFontDest}/template'));
        })
        .pipe(gulp.dest('{iconFontDest}'))
        <!-- BEGIN useBrowserSync:veil -->
        .pipe(reload())
        <!-- END useBrowserSync:veil -->
});
<!-- END useIconFont:veil -->
gulp.task('default',function(){
    <!-- BEGIN useBrowserSync:veil -->
    browserSync.init({
        <!-- BEGIN browserSyncLocal:veil -->
        server: "{browserSyncDir}"
        <!-- END browserSyncLocal:veil -->
        <!-- BEGIN browserSyncLocal:empty -->
        proxy: "{browserSyncDir}"
        <!-- END browserSyncLocal:empty -->
    });
    <!-- END useBrowserSync:veil -->
    gulp.watch('{jsSrc}/**/*.{jsExtName}',['{jsTask}']);
    gulp.watch('{cssSrc}/**/*.{cssExtName}',['{cssTask}']);
    gulp.watch('{htmlSrc}/**/*.{htmlExtName}',['{htmlTask}']);
    <!-- BEGIN useImageTask:veil -->
    gulp.watch('{imageSrc}/**/*',['image']);
    <!-- END useImageTask:veil -->
    <!-- BEGIN useIconFont:veil -->
    gulp.watch('{iconFontSrc}/**/*.svg',['iconfont']);
    <!-- END useIconFont:veil -->
});
</script>
<script type="text/template" id="package">
{
    "name": "gulpfile_generator",
    "version": "1.1.0",
    "description": "This is a genarator for gulpfile and package.json",
    "author": "steelydylan",
    "url": "http://horicdesign.com",
    "license": "MIT License",
    "keywords": "gulp",
    "devDependencies":{
        "gulp": "*",
        "gulp-plumber": "*"<!-- BEGIN useRename:veil -->,
        "gulp-rename": "*"<!-- END useRename:veil --><!-- BEGIN useSourceMap:veil -->,
        "gulp-sourcemaps": "*"<!-- END useSourceMap:veil --><!-- BEGIN usePreprocessor:veil -->,
        "gulp-{cssPreprocessor}": "*"<!-- END usePreprocessor:veil --><!-- BEGIN cssPreprocessor:touch#sass --><!-- BEGIN useBourbonNeat:veil -->,
        "node-neat": "*"<!-- END useBourbonNeat:veil --><!-- END cssPreprocessor:touch#sass --><!-- BEGIN useAutoPrefixer:veil -->,
        "gulp-autoprefixer": "*",
        "es6-promise": "*"<!-- END useAutoPrefixer:veil --><!-- BEGIN useCssComb:veil -->,
        "gulp-csscomb": "*"<!-- END useCssComb:veil --><!-- BEGIN useCmq:veil -->,
        "gulp-merge-media-queries": "*"<!-- END useCmq:veil --><!-- BEGIN useCssLint:veil -->,
        "gulp-csslint": "*"<!-- END useCssLint:veil --><!-- BEGIN useCssStyleGuide:veil -->,
        "gulp-frontnote": "*"<!-- END useCssStyleGuide:veil --><!-- BEGIN useMinifyCss:veil -->,
        "gulp-clean-css": "*"<!-- END useMinifyCss:veil --><!-- BEGIN useAltJs:veil -->,
        "gulp-{altJs}": "*"<!-- END useAltJs:veil --><!-- BEGIN useBrowserify:veil -->,
        "gulp-browserify": "*"<!-- END useBrowserify:veil --><!-- BEGIN useUglifyJs:veil -->,
        "gulp-uglify": "*"<!-- END useUglifyJs:veil --><!-- BEGIN useConcatJsOrCss:veil -->,
        "gulp-concat": "*"<!-- END useConcatJsOrCss:veil --><!-- BEGIN useJsHint:veil -->,
        "gulp-jshint": "*"<!-- END useJsHint:veil --><!-- BEGIN useTemplateEngine:veil -->,
        "gulp-{templateEngine}": "*"<!-- END useTemplateEngine:veil --><!-- BEGIN useMinifyHtml:veil -->,
        "gulp-minify-html": "*"<!-- END useMinifyHtml:veil --><!-- BEGIN useImageMin:veil -->,
        "gulp-imagemin": "*",
        "gulp-cache": "*"<!-- END useImageMin:veil --><!-- BEGIN useIconFont:veil -->,
        "gulp-iconfont": "*",
        "gulp-consolidate": "*",
        "lodash": "*"<!-- END useIconFont:veil --><!-- BEGIN useBrowserSync:veil -->,
        "browser-sync": "*"<!-- END useBrowserSync:veil --><!-- BEGIN useNotification:veil -->,
        "gulp-notify": "*"<!-- END useNotification:veil -->
    }
}
</script>
<script type="text/template" id="myfont-css">
@font-face {
    font-family: "<%= fontFamily %>";
    src:url('../<%= fontName %>.eot?cache=<%= timestamp %>');
    src:url('../<%= fontName %>.eot?cache=<%= timestamp %>#iefix') format('embedded-opentype'),
        url('../<%= fontName %>.woff?cache=<%= timestamp %>') format('woff'),
        url('../<%= fontName %>.ttf?cache=<%= timestamp %>') format('truetype'),
        url('../<%= fontName %>.svg?cache=<%= timestamp %>#<%= fontFamily %>') format('svg');
    font-weight: normal;
    font-style: normal;
}
.<%= className %> {
    font-family: "<%= fontFamily %>";
    display: inline-block;
    position: relative;
        top: 1px;
    line-height:1;
    font-weight:normal;
    font-style:normal;
    speak:none;
    text-decoration:inherit;
    text-transform:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
<% _.each(glyphs, function(glyph) { %>
.<%= className %>-<%= glyph.name.replace(/^.*CS5_/g, '') %>:before {
    content: "\\<%= glyph.codepoint.toString(16).toUpperCase() %>";
}
<% }); %>
</script>
<script type="text/template" id="myfont-html">
<html>
    <head>
        <title><%= fontName %></title>
        <link rel="stylesheet" href="{iconFontName}.css?cache=<%= timestamp %>">
        <style>
            body { font-family: Gill Sans; text-align: center; background: #f7f7f7 }
            body > h1 { color: #666; margin: 1em 0 }
            .glyph { padding: 0 }
            .glyph > li { display: inline-block; margin: .3em .2em; width: 5em; height: 6.5em; background: #fff; border-radius: .5em; position: relative }
            .glyph > li span:first-child { display: block; margin-top: .1em; font-size: 4em; }
            .glyph-name { font-size: .8em; color: #999; display: block }
            .glyph-codepoint { color: #999; font-family: monospace }
        </style>
    </head>
    <body>
        <h2><%= fontName %></h2>
        <ul class="glyph"><% _.each(glyphs, function(glyph) { %>
            <li>
                <span class="<%= className %> <%= className %>-<%= glyph.name.replace(/^.*CS5_/g, '') %>"></span>
                <span class="glyph-name"><%= glyph.name.replace(/^.*CS5_/g, '') %></span>
                <span class="glyph-codepoint"><%= glyph.codepoint.toString(16).toUpperCase() %></span>
            </li><% }); %>
        </ul>
    </body>
</html>
</script>
    <div data-id="form" class="acms-form"></div>

    <div class="analyticsNote">
        <p>We have been analyzing user actions by Mixpanel. If you mind tracking, please click <a href="https://mixpanel.com/optout/" target="_blank">here</a> to opt out.</p>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/jquery.delayClass.js"></script>
    <script src="js/jquery.i18n.properties.js"></script>
    <script src="js/prism.js"></script>
    <script src="js/jszip.min.js"></script>
    <script src="js/FileSaver.min.js"></script>
    <script src="js/template.js"></script>
    <script src="js/main.js"></script>
    <script src="js/mixpanel_analytics.js"></script>
</body>
</html>
